<form autocomplete="off" (ngSubmit)="submit()" [formGroup]="userLoginForm" #formDir="ngForm">
  <div class="form-group">
    <label for="login">E-mail:</label>
    <input id="login" type="text" placeholder="Informe seu email" formControlName="login" required />
    <div *ngIf="login.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="login.errors?.['required']">O campo <b>E-mail</b> é obrigratório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Senha:</label>
    <input id="password" type="text" placeholder="Informe sua senha" formControlName="password" required/>
    <div *ngIf="password.invalid && formDir.submitted" class="validation-error">
      <p>O campo <b>Senha</b> é obrigratório.</p>
    </div>
  </div>

  <input name="btnSubmit" type="submit" value="{{ btnSubmitText }}" />
</form>
