<div class="page-container">
  <div class="page-header">
    <h1>Lista - <a routerLink="/wallet/new">NEW</a></h1>
    <app-button [actionText]="actionText" [actionUri]="actionUri"></app-button>
  </div>

  <!-- form de busca -->
  <div *ngIf="wallets.length > 0 else noElements">
    <div class="items-container">
      <ul class="items" *ngFor="let wallet of wallets">
        <li class="item">
          <a routerLink="/wallet/{{ wallet.id }}">{{ wallet.name }}</a>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noElements>
    <h1>Não há carteiras cadastradas!</h1>
  </ng-template>

</div>
