<div class="page-container">
  <div class="page-header">
    <h1>Lista - <a routerLink="/wallet/new">NEW</a></h1>
    <app-button [actionText]="actionText" [actionUri]="actionUri"></app-button>
  </div>
  <!-- form de busca -->
  <div *ngIf="categories.length > 0 else noElements">
    <div class="items-container">
      <ul class="items" *ngFor="let category of categories">
        <li class="item">
          <a routerLink="/category/{{ category.id }}">{{ category.name }} | {{ category.type }}</a>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noElements>
    <h1>Não há categorias cadastradas!</h1>
  </ng-template>

</div>
