<div class="page-container">
  <div class="page-header">
    <h1><b>Lançamentos</b></h1>
    <ul class="actionButtons">
      <li class="actionButton">
        <app-button [actionUri]="actionUri"></app-button>
      </li>
      <li class="actionButton">
        <app-button [actionText]="'Ativar Todos' | uppercase" [actionUri]="actionUri"></app-button>
      </li>
      <li class="actionButton">
        <app-button [actionText]="'Desativar Todos' | uppercase" [actionUri]="actionUri"></app-button>
      </li>
    </ul>
  </div>

  <!-- form de busca -->
  <div *ngIf="bookEntries.length > 0 else noElements">
    <div class="items-container">
      <ul class="items" *ngFor="let bookEntry of bookEntries">
        <li class="item">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ bookEntry.name }}</mat-card-title>
              <mat-card-subtitle>{{ bookEntry.value }} | {{ bookEntry.status }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button routerLink="/book-entry/{{ bookEntry.id }}" mat-button>ATUALIZAR</button>
              <button routerLink="/book-entry/{{ bookEntry.id }}" mat-button>DELETAR</button>
            </mat-card-actions>
          </mat-card>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noElements>
    <h1>Não há dados disponíveis para essa página.</h1>
  </ng-template>
</div>
