<form autocomplete="off" (ngSubmit)="submit()" [formGroup]="categoryForm" #formDir="ngForm">
  <input formControlName="id" type="text" readonly hidden />
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input id="nome" type="text" placeholder="Informe seu nome" formControlName="name" minlength="3" maxlength="100" required />
    <div *ngIf="name.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="name.errors?.['required']">O campo <b>nome</b> é obrigratório.</p>
      <p *ngIf="name.errors?.['minlength']">O tamanho mínimo do nome é 3.</p>
      <p *ngIf="name.errors?.['maxlength']">O tamanho máximo do nome é 50.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Descrição:</label>
    <input id="description" type="text" placeholder="Informe a descrição" formControlName="description" />
    <div *ngIf="status.invalid && formDir.submitted" class="validation-error">
      <p>O campo <b>tipo</b> é obrigratório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input id="image" type="text" placeholder="Informe a iamgem" formControlName="image" />
  </div>
  <div class="form-group">
    <label for="category_id">Parent:</label>
    <input id="category_id" type="text" placeholder="Informe a categoria pai" formControlName="category_id" />
  </div>
  <div class="form-group">
    <label for="type">Tipo:</label>
    <input id="type" type="text" placeholder="Informe o tipo" formControlName="type" required />
    <div *ngIf="status.invalid && formDir.submitted" class="validation-error">
      <p>O campo <b>tipo</b> é obrigratório.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="status">Status:</label>
    <input id="status" type="text" placeholder="Informe o seu status" formControlName="status" required />
    <div *ngIf="status.invalid && formDir.submitted" class="validation-error">
      <p>O campo <b>status</b> é obrigratório.</p>
    </div>
  </div>
  <input name="btnSubmit" type="submit" value="{{ btnSubmitText }}" />
</form>
